.contact {
  padding: 4rem 0;
  color: black;
}

.contact h1 {
  text-align: center;
  margin-bottom: 2rem;
}

.contact-content {
  display: flex;
  justify-content: space-between;
  margin-bottom: 4rem;
}

.contact-info, .contact-form {
  flex: 1;
  padding: 0 1rem;
}

.contact-info ul {
  list-style-type: none;
  padding: 0;
}

.contact-info ul li {
  margin-bottom: 1rem;
}

.contact-info ul li i {
  margin-right: 0.5rem;
  color: #007bff;
}

.contact-form form {
  display: flex;
  flex-direction: column;
}

.contact-form input,
.contact-form textarea {
  margin-bottom: 1rem;
  padding: 0.5rem;
  border: 1px solid #ccc;
  border-radius: 4px;
}

.contact-form textarea {
  height: 150px;
}

.map-container {
  margin-top: 2rem;
}

.map-container h2 {
  margin-bottom: 1rem;
}

@media (max-width: 768px) {
  .contact-content {
    flex-direction: column;
  }

  .contact-info, .contact-form {
    margin-bottom: 2rem;
  }

  .flex-col {
    flex-direction: column;
  }


}

.contact,
.contact a {
  color: black;
}

.aspect-w-16 {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 Aspect Ratio */
}

.aspect-w-16 iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

/* Add these styles to your existing Contact.css file */

.fas {
  font-size: 2rem;
}

.bg-white {
  background-color: #fff;
}

.shadow-lg {
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.rounded-lg {
  border-radius: 0.5rem;
}

.text-red-500 {
  color: #ef4444;
}

.hover\:bg-red-600:hover {
  background-color: #dc2626;
}