.moving-text-container {
  position: absolute;
  top: 64px; /* Adjust this value based on your navbar height */
  left: 0;
  right: 0;
  overflow: hidden;
  height: 40px;
  background-color: none;
  z-index: 10;
}

.moving-text {
  white-space: nowrap;
  position: absolute;
  animation: moveText 30s linear infinite;
  color: white;
  font-size: 16px;
  line-height: 40px;
  padding: 0 20px;
}

.stat-value {
  color: #F44336;
  font-weight: bold;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}
