.moving-text-container {
  position: fixed;
  top: 80px; /* Adjust based on your navbar height */
  left: 0;
  right: 0;
  overflow: hidden;
  background-color: none;
  padding: 10px 0;
  z-index: 1000;
  transition: opacity 0.3s ease-in-out;
}

.moving-text {
  display: inline-block;
  white-space: nowrap;
  animation: moveText 30s linear infinite;
}

.stat-item {
  display: inline-block;
  margin-right: 40px;
  font-size: 18px;
  color: #ffffff;
}

.stat-label {
  font-weight: bold;
}

.stat-value {
  color: #F44336;
  font-weight: bold;
  margin-left: 5px;
}

@keyframes moveText {
  0% {
    transform: translateX(100%);
  }
  100% {
    transform: translateX(-100%);
  }
}

/* Remove the glow effect */
/* @keyframes glow {
  0%, 100% {
    text-shadow: 0 0 5px rgba(255, 255, 255, 0.8);
  }
  50% {
    text-shadow: 0 0 20px rgba(255, 255, 255, 0.8);
  }
} */
